:root {
  --white: #ffffff;
  --light-grey: #575757;
  --light-light-grey: #d7d7d7;
  --dark-grey: #3d3d3d;
  --yellow: #fbd144;
  --light-background: #e9ebec;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-Bold.ttf") format("ttf");
  font-weight: 700;
}

body {
  background-color: var(--light-background);
  font-family: "Poppins", sans-serif;
}

/* estilos para el selector de modo */
header {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 80px;
  height: 80px;
  border: #e7e7e7 solid 1px;
  border-radius: 50%;
  cursor: pointer;
}

.mode > input {
  position: absolute;
  opacity: 0;
}

.moon {
  font-size: 2em;
  color: var(--dark-grey);
}

section {
  display: flex;
  justify-content: center;
}

/*Estilos grid about me*/

.aboutme-flex {
  width: 35em;
  display: flex;
  justify-content: start;
  gap: 40px;
}

.photo {
  margin: auto;
  width: 215px;
  height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: var(--yellow) solid 3px;
}

.photo > img {
  width: 95%;
  height: 95%;
  border-radius: 50%;
}

.inf {
  padding: 4em 0;
}

.inf > h4 {
  color: var(--dark-grey);
  font-size: 3em;
  font-weight: 400;
}

.inf > h5 {
  color: var(--light-grey);
  font-size: 1.5em;
}

.redes {
  margin: 5px 0;
  display: flex;
  justify-content: start;
  gap: 10px;
}

/*Estilos secci칩n experiencia*/

.experience-flex {
  width: 35rem;
  margin: 1.5em 0;
  display: flex;
  justify-content: center;
  gap: 90px;
  font-size: 1.5em;
  color: var(--light-grey);
  text-align: center;
}

/*Estilos cv-contacme*/
#cv-contact {
  display: flex;
  justify-content: center;
}

.cv-contact-flex {
  width: 35rem;
  margin: 1.5em 0;
  display: flex;
  justify-content: center;
  gap: 38px;
  font-size: 1.5em;
  color: var(--dark-grey);
  text-align: center;
}

.download-cv {
  cursor: pointer;
  width: 15em;
  height: 3em;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.download-cv-active {
  background-color: var(--yellow);
}

/*Estilos para el selector del protafolio y las skills*/

.portfolio-skills-flex {
  background-color: var(--white);
  border-radius: 10px;
  width: 40rem;
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
  gap: 38px;
  font-size: 1.5em;
  color: var(--dark-grey);
  text-align: center;
}

.portfolio {
  cursor: pointer;
  width: 42%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0.8em 0;
}

.portfolio-active {
  background-color: var(--light-light-grey);
}


/*Estilos para la secci칩n de skills y proyectos*/


@media screen and (min-width: 481px) and (max-width: 1024px) {
  /* Estilos para tabletas y pantallas m치s grandes */
}

@media screen and (max-width: 480px) {
  /* Estilos para pantallas peque침as */
}
