:root {
  --white: #ffffff;
  --light-grey: #575757;
  --light-light-grey: #d7d7d7;
  --dark-grey: #3d3d3d;
  --yellow: #fbd144;
  --light-background: #e9ebec;
  --blue-dark: #0c151d;
  --blue-gray: #171f26;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-Bold.ttf") format("ttf");
  font-weight: 700;
}

body {
  background-color: var(--light-background);
  font-family: "Poppins", sans-serif;
  transition: 0.6s;
}

/*Modo oscuro body*/
.body-dark {
  background-color: var(--blue-dark);
  transition: 0.6s;
}

/* estilos para el selector de modo */
header {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  /* border: #e7e7e7 solid 1px; */
  border-radius: 50%;
  cursor: pointer;
}

.mode > input {
  position: absolute;
  opacity: 0;
}

.sun {
  position: absolute;
  font-size: 2em;
  color: var(--white);
  transform: scale(0);
  transition: 1s ease;
  transition-delay: 0.2s;
}

input:checked ~ .sun {
  transform: scale(1) rotate(360deg);
}

.moon {
  font-size: 2em;
  color: var(--dark-grey);
  transform: scale(1);
  transition: 1s ease;
  transition-delay: 0.2s;
}

input:checked ~ .moon {
  transform: scale(0) rotate(360deg);
}

.toggle {
  position: absolute;
  display: block;
  background-color: var(--white);

  width: 80px;
  height: 80px;
  border-radius: 50px;
  transition: 1s;
  z-index: -1;
}

input:checked ~ .toggle {
  background-color: var(--blue-gray);
}

/*Estilo para todas las secciones*/
section {
  display: flex;
  justify-content: center;
}

/*Estilos grid about me*/

.aboutme-flex {
  width: 35em;
  display: flex;
  justify-content: start;
  gap: 40px;
}

.photo {
  margin: auto;
  width: 215px;
  height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: var(--yellow) solid 3px;
}

.photo > img {
  width: 95%;
  height: 95%;
  border-radius: 50%;
}

.inf {
  padding: 4em 0;
}

.name {
  color: var(--dark-grey);
  font-size: 3em;
  font-weight: 400;
  transition: 0.6s;
}

/*Modo oscuro*/
.name-dark {
  color: var(--light-background);
  transition: 0.6s;
}

.title {
  color: var(--light-grey);
  font-size: 1.5em;
  transition: 0.6s;
}

.title-dark {
  color: var(--light-light-grey);
  transition: 0.6s;
}

.redes {
  margin: 5px 0;
  display: flex;
  justify-content: start;
  gap: 10px;
}

/*Estilos sección experiencia*/

.experience-flex {
  width: 35rem;
  margin: 1.5em 0;
  display: flex;
  justify-content: center;
  gap: 90px;
  font-size: 1.5em;
  color: var(--light-grey);
  text-align: center;
  transition: 0.6s;
}

.experience-flex-dark {
  color: var(--light-light-grey);
  transition: 0.6s;
}

/*Estilos cv-contacme*/
/* #cv-contact {
  display: flex;
  justify-content: center;
} */

#cv-contact {
  display: grid;
  grid-template-columns: repeat(2, 13em);
  grid-template-rows: 4em auto;
  grid-template-areas:
    "download contacme"
    "info info";
  font-size: 1.3em;
  gap: 1em;
}

.download-cv {
  cursor: pointer;
  width: 12.5em;
  height: 4em;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transition: 0.6s;
}

.cv-contact:nth-child(1) {
  grid-area: download;
}

.cv-contact:nth-child(2) {
  grid-area: contacme;
}

.download-cv:hover {
  background-color: #fbd760ba;
  color: var(--blue-dark);
}

/* .download-cv:active {
  background-color: var(--yellow);
} */

.download-cv-dark {
  background-color: var(--blue-gray);
  color: var(--light-light-grey);
  transition: 0.6s;
}

/*Estilos para la sección de contacto*/
.contact-info {
  background-color: var(--white);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  grid-area: info;
  font-size: 0.8em;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.contact-info-dark {
  background-color: var(--blue-gray);
  color: var(--light-light-grey);
  transition: 0.6s;
}

.contact-info h2 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.contact-info p {
  margin: 5px 0;
}

/*Estilos para el portafolio*/
#portfolio-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-skills-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--white);
  border-radius: 10px;
  width: 35rem;
  margin: 1em 0;
  gap: 38px;
  font-size: 1.5em;
  color: var(--dark-grey);
  text-align: center;
  transition: 0.6s;
}

.portfolio-skills-flex-dark {
  background-color: var(--blue-gray);
  color: var(--light-light-grey);
  transition: 0.6s;
}

.portfolio {
  cursor: pointer;
  width: 42%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0.8em 0;
  transition: 0.6s;
}

.portfolio:hover {
  background-color: var(--light-background);
}

.portfolio-active {
  background-color: var(--light-light-grey);
}

.portfolio-dark {
  background-color: var(--blue-gray);
  transition: 0.6s;
}
/*Estilos para el modo oscuro del portafolio*/

.portfolio-dark:hover {
  background-color: var(--blue-dark);
}

.portfolio-dark-active {
  background-color: var(--blue-dark);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 0.3s ease;
}

.collapsed {
  max-height: 0;
  z-index: -1;
}

.skill {
  width: 33em;
  background-color: var(--white);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.skill-dark {
  background-color: var(--blue-gray);
  color: var(--light-light-grey);
  transition: 0.6s;
}

.skill h3 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.skill-progress {
  width: 100%;
  height: 10px;
  background-color: var(--light-light-grey);
  border-radius: 4px;
  position: relative;
}

.skill-fill {
  height: 100%;
  background-color: var(--yellow);
  border-radius: 4px;
}

/*Footer*/
footer {
  background-color: var(--light-background);
  padding: 10px;
  text-align: center;
  color: var(--light-grey);
  transition: 0.6s;
}

.footer-dark {
  background-color: var(--blue-dark);
  color: var(--light-light-grey);
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  /* Estilos para tabletas y pantallas más grandes */
}

@media screen and (max-width: 480px) {
  /* Estilos para pantallas pequeñas */
}
