:root {
  --white: #ffffff;
  --light-grey: #575757;
  --dark-grey: #3d3d3d;
  --yellow: #fbd144;
  --light-background: #e9ebec;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Quicksand-Bold.ttf") format("ttf");
  font-weight: 700;
}

body {
  background-color: var(--light-background);
  font-family: "Poppins", sans-serif;
}

/* estilos para el selector de modo */
header {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 80px;
  height: 80px;
  border: #e7e7e7 solid 1px;
  border-radius: 50%;
  cursor: pointer;
}

.mode > input {
  position: absolute;
  opacity: 0;
}

.moon {
  font-size: 2em;
  color: var(--dark-grey);
}

/*Estilos grid about me*/
#aboutme {
  display: flex;
  justify-content: center;
}

.aboutme-grid {
  width: 60%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  gap: 20px;
}

.photo {
  margin: auto;
  width: 215px;
  height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: var(--yellow) solid 3px;
}

.photo > img {
  width: 95%;
  height: 95%;
  border-radius: 50%;
}

.inf {
  padding: 20px;
}

.inf > h4 {
  color: var(--dark-grey);
  font-size: 3em;
  font-weight: 400;
}

.inf > h5 {
  color: var(--light-grey);
  font-size: 1.5em;
}

.redes {
  margin: 5px 0;
  display: flex;
  justify-content: start;
  gap: 10px;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  /* Estilos para tabletas y pantallas más grandes */

  /* estilos para el selector de modo */
  .mode {
    width: 60px;
    height: 60px;
  }

  .moon {
    font-size: 1.6em;
    color: var(--dark-grey);
  }

  /*Estilos grid about me*/

  .aboutme-grid {
    width: 80%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
    gap: 10px;
  }

  .photo {
    width: 160px;
    height: 160px;
  }

  .photo > img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
  }

  .inf {
    padding: 25px;
  }

  .inf > h4 {
    color: var(--dark-grey);
    font-size: 2.5em;
    font-weight: 400;
  }

  .inf > h5 {
    color: var(--light-grey);
    font-size: 1.5em;
  }

  .redes {
    margin: 5px 0;
    display: flex;
    justify-content: start;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  /* Estilos para pantallas pequeñas */

  /* estilos para el selector de modo */
  .mode {
    width: 48px;
    height: 48px;
  }

  .moon {
    font-size: 1.6em;
    color: var(--dark-grey);
  }

  /*Estilos grid about me*/

  .aboutme-grid {
    width: 80%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
    gap: 10px;
  }

  .photo {
    width: 124px;
    height: 124px;
  }

  .photo > img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
  }

  .inf {
    padding: 25px;
  }

  .inf > h4 {
    color: var(--dark-grey);
    font-size: 2em;
    font-weight: 400;
  }

  .inf > h5 {
    color: var(--light-grey);
    font-size: 1em;
  }

  .redes {
    margin: 5px 0;
    display: flex;
    justify-content: start;
    gap: 10px;
  }
}
